unpackaged/main/default/flows/Missing_Timecard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PSA_Missing_Timecard_Notification</name>
        <label>pse__Missing_Timecard__c.PSA_Missing_Timecard_Notification</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>pse__Missing_Timecard__c.PSA_Missing_Timecard_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Missing_Timecard__c.PSA_Missing_Timecard_Notification</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Date_Time_Entered_is_Null</name>
        <label>Is Date Time Entered is Null?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Time_Entered_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Date_Timecard_Entered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSA_Missing_Timecard_Notification</targetReference>
            </connector>
            <label>Date Time Entered is Null</label>
        </rules>
    </decisions>
    <description>157118: Missing Timecard notification</description>
    <interviewLabel>Missing Timecard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA: Missing Timecard</label>
    <migratedFromWorkflowRuleName>Missing Timecard</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Date_Time_Entered_is_Null</targetReference>
        </connector>
        <object>pse__Missing_Timecard__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
