unpackaged/main/default/flows/PO_Number_on_BEI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Category_Blank</name>
        <label>Category Blank</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>Please Populate BEI category field</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Category_Check</name>
        <label>Category Check</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Category_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TimeCard</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timecard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_Number_from_TimeCard</targetReference>
            </connector>
            <label>TimeCard</label>
        </rules>
        <rules>
            <name>Milestone</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_Number_from_Milestone</targetReference>
            </connector>
            <label>Milestone</label>
        </rules>
        <rules>
            <name>Expense</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_Number_from_Expense</targetReference>
            </connector>
            <label>Expense</label>
        </rules>
    </decisions>
    <description>Added the Decision box to check category field
This flow is used to update PO number field on BEI based on Category Criteria ADO # 140325</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>PO_Number</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!$Record.pse__Category__c} , &quot;Milestone&quot;) , {!$Record.pse__Milestone__r.PO_Number__c},
IF( ISPICKVAL({!$Record.pse__Category__c} , &quot;Timecard&quot;) , {!$Record.pse__Timecard_Split__r.pse__Milestone__r.PO_Number__c} ,
IF( ISPICKVAL({!$Record.pse__Category__c} , &quot;Expense&quot;) , {!$Record.pse__Expense__r.pse__Expense_Report__r.pse__Milestone__r.PO_Number__c}, 
&quot;Please Populate BEI category field &quot;
)))</expression>
    </formulas>
    <interviewLabel>PO Number on BEI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA-BEI Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_PO_Number_from_Expense</name>
        <label>Update PO Number from Expense</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>PONumber__c</field>
            <value>
                <elementReference>$Record.pse__Expense__r.pse__Expense_Report__r.pse__Milestone__r.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Number_from_Milestone</name>
        <label>Update PO Number from Milestone</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>PONumber__c</field>
            <value>
                <elementReference>$Record.pse__Milestone__r.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Number_from_TimeCard</name>
        <label>Update PO Number from TimeCard</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>PONumber__c</field>
            <value>
                <elementReference>$Record.pse__Timecard_Split__r.pse__Milestone__r.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Category_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PONumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Billing_Event_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
