unpackaged/main/default/flows/PSA_Expense_Amounts_to_Billing_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Amount</name>
        <label>Assign Amount</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ExpenseAmt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_amount.Sold_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SoldRate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_amount.Sold_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_amount</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_BEI_Amounts</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort BEI Amounts</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Billing_Event_Items</collectionReference>
        <connector>
            <targetReference>Loop_through_amount</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Sold_Amount__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Sold_Rate__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <description>Updates the Billing Events with the Expense total and amount sold.</description>
    <interviewLabel>PSA: Expense Amounts to Billing Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA: Expense Amounts to Billing Events</label>
    <loops>
        <name>Loop_through_amount</name>
        <label>Loop through amount</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Billing_Event_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Billing_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Billing_Event_Items</name>
        <label>Get Billing Event Items</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_BEI_Amounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Billing_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Expense__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Billing_Event_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Event</name>
        <label>Update Billing Event</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Expense_Sold_Rate_Summary__c</field>
            <value>
                <elementReference>SoldRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expense_Summary__c</field>
            <value>
                <elementReference>ExpenseAmt</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Billing_Event_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bill on Delivery (postpaid)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OR/OV - BE Record Type</stringValue>
            </value>
        </filters>
        <object>pse__Billing_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExpenseAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SoldRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
