unpackaged/main/default/flows/PSA_Resource_Request_Held_By_Name_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Existing_Send_notification_to_RR_owner</name>
        <label>Existing Send notification to RR owner</label>
        <locationX>1590</locationX>
        <locationY>455</locationY>
        <actionName>pse__Resource_Request__c.PSA_Resource_Request_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Resource_Request__c.PSA_Resource_Request_Assigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_to_RR_owner</name>
        <label>Send notification to RR owner</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <actionName>pse__Resource_Request__c.PSA_Resource_Request_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PSA_Resource_Request_Hold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Resource_Request__c.PSA_Resource_Request_Assigned</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>PSA_Capture_RR_Dates</name>
        <label>PSA Capture RR Dates</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>PSA_Resource_Request_Delivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_or_Ischanged_Start_End_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSACapture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSA_Capture_RR_Start_End_Date</targetReference>
            </connector>
            <label>New or Ischanged(Start &amp; End date)</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSA_Resource_Request_Approved</name>
        <label>PSA Resource Request = Approved</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>PSA_Resource_Request_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification_to_RR_owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSA_Resource_Request_Delivery</name>
        <label>PSA Resource Request = Delivery</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>PSA_Resource_Request_Unhold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resource_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_to_Ready_to_staff</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSA_Resource_Request_Hold</name>
        <label>PSA Resource Request =Hold</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Resource_Held__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Hold_Held_date_Held_by</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSA_Resource_Request_Unhold</name>
        <label>PSA Resource Request - Unhold</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>PSA_Resource_Request_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Assignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Resource_Held__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Held_date_Held_by</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Staffer_Resource_Changed</name>
        <label>Staffer Resource Changed</label>
        <locationX>1238</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSA_Capture_RR_Dates</targetReference>
            </connector>
            <label>NEW</label>
        </rules>
        <rules>
            <name>Existing_PSA_Capture_RR_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSACapture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_PSA_Capture_RR_Start_End_Date</targetReference>
            </connector>
            <label>Existing PSA Capture RR Dates</label>
        </rules>
        <rules>
            <name>Existing_PSA_Update_Resource_Request_Start_End_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_End_date</targetReference>
            </connector>
            <label>Existing PSA Update Resource Request Start/End Dates</label>
        </rules>
        <rules>
            <name>Existing_PSA_Resource_Request_set_to_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resource_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource_Request_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Update_status_to_Ready_to_staff</targetReference>
            </connector>
            <label>Existing PSA Resource Request set to Delivery</label>
        </rules>
        <rules>
            <name>Existing_PSA_Resource_Request_Unhold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Assignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Resource_Held__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Assignment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Resource_Held__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Update_Status_Held_date_Held_by</targetReference>
            </connector>
            <label>Existing PSA Resource Request - Unhold</label>
        </rules>
        <rules>
            <name>Existing_PSA_Resource_Request_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Send_notification_to_RR_owner</targetReference>
            </connector>
            <label>Existing PSA Resource Request - Approved</label>
        </rules>
        <rules>
            <name>Existing_PSA_Resource_Request_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Resource_Held__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Resource_Held__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Hold_Held_date_Held_by</targetReference>
            </connector>
            <label>Existing PSA Resource Request - Hold</label>
        </rules>
        <rules>
            <name>Staffer_Resource_Changed_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Staffer_Resource__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Staffer_Resource__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_User_ID</targetReference>
            </connector>
            <label>Staffer Resource Changed &amp; Not Blank</label>
        </rules>
    </decisions>
    <description>Updates the name of the person that held the RR
ADO:164501: /*Moving the WFR to FLOW. Contains the below WFR
* PSA Capture RR Dates
*PSA Resource Request set to Delivery
* PSA Update Resource Request Start/End Dates
*PSA Resource Request - Unhold
* PSA Resource Request - Approved
* PSA Resource Request - Hold*/</description>
    <environments>Default</environments>
    <formulas>
        <name>Changed</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!$Record.pse__Staffer_Resource__r.Id}),
NOT(ISBLANK({!$Record.pse__Staffer_Resource__r.Id})))</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NULLDATE</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>NULLTEXT</name>
        <dataType>String</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>ProjectLength</name>
        <dataType>Boolean</dataType>
        <expression>(LEN({!$Record.pse__Project__c}) &gt; 0)</expression>
    </formulas>
    <formulas>
        <name>PSACapture</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() || ((LEN({!$Record.pse__Project__c}) = 0) &amp;&amp; (ISCHANGED({!$Record.pse__Start_Date__c}) ||  ISCHANGED({!$Record.pse__End_Date__c})))</expression>
    </formulas>
    <interviewLabel>PSA: Resource Request Held By Name Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA: Resource Request Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get contact record of current user</description>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>2030</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Held_By</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Salesforce_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Grabs Current User ID</description>
        <name>Get_Current_User_ID</name>
        <label>Get Current User ID</label>
        <locationX>2030</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Existing_PSA_Capture_RR_Start_End_Date</name>
        <label>Existing PSA Capture RR Start &amp; End Date</label>
        <locationX>534</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>RR_End__c</field>
            <value>
                <elementReference>$Record.pse__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RR_Start__c</field>
            <value>
                <elementReference>$Record.pse__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Existing_Update_Status_Held_date_Held_by</name>
        <label>Existing Update Status, Held date&amp; Held by</label>
        <locationX>1326</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Held_By__c</field>
            <value>
                <elementReference>NULLTEXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Held_Date__c</field>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Ready to Staff</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Existing_Update_status_to_Ready_to_staff</name>
        <label>Existing Update status to Ready to staff</label>
        <locationX>1062</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Ready to Staff</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PSA_Capture_RR_Start_End_Date</name>
        <label>PSA Capture RR Start &amp; End Date</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>PSA_Resource_Request_Delivery</targetReference>
        </connector>
        <inputAssignments>
            <field>RR_End__c</field>
            <value>
                <elementReference>$Record.pse__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RR_Start__c</field>
            <value>
                <elementReference>$Record.pse__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Held_By</name>
        <label>Update Held By</label>
        <locationX>2030</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Held_By__c</field>
            <value>
                <elementReference>Get_Contact_Records.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Start_End_date</name>
        <label>Update Start &amp; End date</label>
        <locationX>798</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>$Record.RR_End__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>$Record.RR_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Held_date_Held_by</name>
        <label>Update Status, Held date&amp; Held by</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>PSA_Resource_Request_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Held_By__c</field>
            <value>
                <elementReference>NULLTEXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Held_Date__c</field>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Ready to Staff</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Hold_Held_date_Held_by</name>
        <label>Update Status to Hold, Held date&amp; Held by</label>
        <locationX>1238</locationX>
        <locationY>2231</locationY>
        <inputAssignments>
            <field>Held_By__c</field>
            <value>
                <stringValue>{!$Record.LastModifiedBy.FirstName}  {!$Record.LastModifiedBy.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Held_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_Ready_to_staff</name>
        <label>Update status to Ready to staff</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>PSA_Resource_Request_Unhold</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Ready to Staff</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Staffer_Resource_Changed</targetReference>
        </connector>
        <object>pse__Resource_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
