unpackaged/main/default/flows/PSA_Assignment_Notification_to_Resource2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PSA_Resource_Assignment_Email</name>
        <label>pse__Assignment__c.PSA_Resource_Assignment_Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>pse__Assignment__c.PSA_Resource_Assignment_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Assignment__c.PSA_Resource_Assignment_Email</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checking if resource Exists on the Assignment</description>
        <name>Resource_Not_null</name>
        <label>Resource Not null</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resource_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSA_Resource_Assignment_Email</targetReference>
            </connector>
            <label>Resource Exists?</label>
        </rules>
    </decisions>
    <description>ADO: 152153 Migrated from the: PSA Assignment - Notification to Resource2 workflow rule, Sends an email notification to the resource when they are assigned to a project.&quot;</description>
    <interviewLabel>PSA Assignment - Notification to Resource2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA: Assignment Notification to Resource</label>
    <migratedFromWorkflowRuleName>PSA Assignment - Notification to Resource2</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resource_Not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Resource__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pse__Assignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
