unpackaged/main/default/flows/PSA_Billing_Event_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Assigned_to_Field</name>
        <label>Check for Assigned to Field</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assigned_to</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_CheckingForRecordType</name>
        <label>Existing CheckingForRecordType</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_RecordTypeNullCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_AR_BE_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill in Advance (prepaid)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_UpdateBERecordTypeToAR</targetReference>
            </connector>
            <label>Existing RecordTypeNullCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>OR_OV_BE_RecordTypeCheck</name>
        <label>OR/OV - BE RecordTypeCheck</label>
        <locationX>1150</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OR_OV_BE_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill on Delivery (postpaid)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBERecordTypeToOR_OV</targetReference>
            </connector>
            <label>Exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Record_Type_AR_BE_Record_Type</name>
        <label>Update Record Type: AR - BE Record Type</label>
        <locationX>864</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_NEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Assigned_to_Field</targetReference>
            </connector>
            <label>IS NEW</label>
        </rules>
        <rules>
            <name>Bill_in_Advance_prepaid_InvoiceMethod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill in Advance (prepaid)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Method__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_AR_BE_Record_Type</targetReference>
            </connector>
            <label>Bill in Advance (prepaid) - InvoiceMethod</label>
        </rules>
        <rules>
            <name>Bill_on_Delivery_postpaid_Invoice_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill on Delivery (postpaid)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Method__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OR_OV_BE_Record_Type</targetReference>
            </connector>
            <label>Bill on Delivery (postpaid) - Invoice Method</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PSA-Billing Event -Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA-Billing Event -Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Existing_AR_BE_Record_Type</name>
        <label>Existing AR - BE Record Type</label>
        <locationX>622</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_CheckingForRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pse__Billing_Event__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AR_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BillingEventRecordTypeName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OR_OV_BE_Record_Type</name>
        <label>OR/OV - BE Record Type</label>
        <locationX>1150</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OR_OV_BE_RecordTypeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pse__Billing_Event__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OR_OV_BE_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BillingEventRecordTypeName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Existing_UpdateBERecordTypeToAR</name>
        <label>Existing UpdateBERecordTypeToAR</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BillingEventRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assigned_to</name>
        <label>Update Assigned to</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBERecordTypeToOR_OV</name>
        <label>UpdateBERecordTypeToOR/OV</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BillingEventRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Record_Type_AR_BE_Record_Type</targetReference>
        </connector>
        <object>pse__Billing_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingEventRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
