unpackaged/main/default/flows/PSA_TAP_Milestone_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Last_Day_Worked</name>
        <label>Assign Last Day Worked</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varActDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Date_Worked__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_TC_less_than_4_hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Today_s_Date</name>
        <label>Assign Today&apos;s Date</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varActDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fortoday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_TC_less_than_4_hours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_TC_less_than_4_hours</name>
        <label>Is the TC less than 4 hours</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Hours_less_than_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Milestone__r.pse__Billable_Hours_Submitted__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.pse__Milestone__r.pse__Planned_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <label>Total Hours less than 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Date_Worked</name>
        <label>Last Date Worked</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Today_s_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Date_Worked__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fortoday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Day_Worked</targetReference>
            </connector>
            <label>Greater than Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>TAP_Milestone</name>
        <label>TAP Milestone</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_TAP_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Milestone__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing_Milestone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Milestone__r.pse__Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Milestone__r.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Record</targetReference>
            </connector>
            <label>Outcome 1 of TAP Milestone</label>
        </rules>
    </decisions>
    <description>Updates Milestone Actual Date on TAP records when Timecard is Approved. - 238068</description>
    <environments>Default</environments>
    <formulas>
        <name>fortoday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>varfapproved</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!get_approval_step.SystemModstamp})</expression>
    </formulas>
    <interviewLabel>PSA - TAP Milestone Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA - TAP Milestone Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Apex_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>gets the approval process record</description>
        <name>Get_Approval_Record</name>
        <label>Get Approval Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_approval_step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets approval step record</description>
        <name>get_approval_step</name>
        <label>get approval step</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_Date_Worked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Milestone__r.Product_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Milestone__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Actual_Date__c</field>
            <value>
                <elementReference>varActDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Exclude_from_Billing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Work Completed</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Milestone__c</object>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TAP_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Total_Hours__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Milestone_Product__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>F5-CST-TAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Timecard_Header__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varActDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
