unpackaged/main/default/flows/PSA_Time_Period_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Closed_for_Forecasting</name>
        <label>Assign Closed for Forecasting</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Get_TIme_Period_Records.pse__Closed_For_Forecasting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_forecasting_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_forecasting_records</name>
        <label>Closed forecasting records</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>AllClosedTimerecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TIme_Period_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_closed_forforecasting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_records</name>
        <label>Check for records</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TIme_Period_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closed_for_Forecasting</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added Decision element to check if there are records present in Get Records element.</description>
    <environments>Default</environments>
    <interviewLabel>PSA-Time Period Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA-Time Period Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_TIme_Period_Records</name>
        <label>Get TIme Period Records</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Time_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_closed_forforecasting</name>
        <label>Update closed for forecasting</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <inputReference>AllClosedTimerecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TIme_Period_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-12</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AllClosedTimerecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Time_Period__c</objectType>
    </variables>
    <variables>
        <name>end_dates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
