unpackaged/main/default/flows/PSA_Project_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PSA_Project_Alert_to_PM</name>
        <label>PSA Project-Alert to PM</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <actionName>pse__Proj__c.PSA_Project_Alert_to_PM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_SOW_records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Proj__c.PSA_Project_Alert_to_PM</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>customer_billable_project_created</name>
        <label>customer billable project created?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>New_Planned_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>customer_billable_project_created1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billable_Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Include_in_Forecasting_and_Recognition_Method</targetReference>
            </connector>
            <label>customer billable project created?</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Planned_Hours</name>
        <label>New Planned Hours</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>PM_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billable_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Is_Billable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Opportunity__r.PSA_Hours_Purchased__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Planned_Hours_with_Purchased_Hours</targetReference>
            </connector>
            <label>Billable =TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Project_Created_with_Status</name>
        <label>New Project Created with Status</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Initialized_Hold_Planning</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initialized</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Active_TRUE_Exclude_from_Billing_to_TRUE</targetReference>
            </connector>
            <label>Initialized/Hold/Planning</label>
        </rules>
        <rules>
            <name>Inprogress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Active_TRUE_Exclude_from_Billing_to_False_0</targetReference>
            </connector>
            <label>Inprogress</label>
        </rules>
        <rules>
            <name>closeOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close-Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Active_TRUE_Exclude_from_Billing_to_False</targetReference>
            </connector>
            <label>closeOut</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_FALSE_Exclude_from_Billing_to_TRUE</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>PM_Notification</name>
        <label>PM Notification</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Get_SOW_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSA_Project_Alert_to_PM</targetReference>
            </connector>
            <label>Send Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSA_project_Defaults</name>
        <label>PSA project Defaults</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>customer_billable_project_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Project_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Name</targetReference>
            </connector>
            <label>Set Project Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Stage_check</name>
        <label>Record/Stage check</label>
        <locationX>1436</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSA_project_Defaults</targetReference>
            </connector>
            <label>New Project</label>
        </rules>
        <rules>
            <name>Stage_Initialized</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initialized</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_TRUE_Exclude_from_Billing_to_TRUE</targetReference>
            </connector>
            <label>Stage=Initialized</label>
        </rules>
        <rules>
            <name>Stage_onhold_Planning</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_TRUE_Exclude_from_BillingtoFalse</targetReference>
            </connector>
            <label>Stage=onhold/Planning</label>
        </rules>
        <rules>
            <name>Stage_Inprogress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_TRUE_Exclude_from_Billing_to_False_0</targetReference>
            </connector>
            <label>Stage=Inprogress</label>
        </rules>
        <rules>
            <name>Stage_CloseOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close-Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_TRUE_Exclude_from_Billing_to_False</targetReference>
            </connector>
            <label>Stage=CloseOut</label>
        </rules>
        <rules>
            <name>Stage_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_FALSE_Exclude_from_Billing_to_TRUE</targetReference>
            </connector>
            <label>Stage=closed</label>
        </rules>
        <rules>
            <name>Project_Billable_to_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Is_Billable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Is_Billable__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Planned_Hours_with_Purchased_Hours</targetReference>
            </connector>
            <label>Project Billable to TRUE</label>
        </rules>
        <rules>
            <name>PM_Notification_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>PSA_Project_Alert_to_PM</targetReference>
            </connector>
            <label>PM Notification Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>SOW_s_found</name>
        <label>SOW&apos;s found</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>New_Project_Created_with_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SOW_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Related_SOW_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>ADO:190249:: Added the Billable project created decision to check on the new process side. 
ADO: 187797:: Removed the Sales Order Number decision checks for New and Existing scenarios.
This Flow contains all the WFR Where stage=Planning, on-Hold, Initialized, Closed, In-Progress, Close-Out
ADO: 208026::Updated the onhold, planned outcomes</description>
    <environments>Default</environments>
    <formulas>
        <name>Customer_Billable_Record_Type</name>
        <dataType>String</dataType>
        <expression>&quot;Customer: Billable&quot;</expression>
    </formulas>
    <formulas>
        <name>New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>PSA_Project_Name_DefaultFormula</name>
        <dataType>String</dataType>
        <expression>LEFT($Record.pse__Opportunity__r.SalesOrder__c + &quot;: &quot; +  $Record.pse__Opportunity__r.Name + &quot;-Project&quot;, 80)</expression>
    </formulas>
    <interviewLabel>PSA - Project - Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA - Project - Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SOW_records</name>
        <label>Get SOW records</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SOW_s_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SOW__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Active_FALSE_Exclude_from_Billing_to_TRUE</name>
        <label>Active=FALSE &amp; Exclude from Billing to TRUE</label>
        <locationX>1436</locationX>
        <locationY>2423</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Closed_for_Time_Expense_Entry_to_TRUE</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Exclude_From_Billing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Active_TRUE_Exclude_from_Billing_to_False</name>
        <label>Active=TRUE &amp; Exclude from Billing to False</label>
        <locationX>1722</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Closed_for_Time_Expense_Entry_to_TRUE</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Exclude_From_Billing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Active_TRUE_Exclude_from_Billing_to_False_0</name>
        <label>Active=TRUE &amp; Exclude from Billing to False</label>
        <locationX>1458</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Closed_for_Time_Expense_Entry_to_FALSE</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Exclude_From_Billing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Active_TRUE_Exclude_from_Billing_to_TRUE</name>
        <label>Active=TRUE &amp; Exclude from Billing to TRUE</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Closed_for_Time_Expense_Entry_to_TRUE</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Exclude_From_Billing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Active_TRUE_Exclude_from_BillingtoFalse</name>
        <label>Active=TRUE &amp; Exclude from Billing to False</label>
        <locationX>1194</locationX>
        <locationY>431</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Closed_for_Time_Expense_Entry_to_TRUE</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Exclude_From_Billing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Closed_for_Time_Expense_Entry_to_FALSE</name>
        <label>Closed for Time &amp; Expense Entry to FALSE</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Closed_for_Time_Expense_Entry_to_TRUE</name>
        <label>Closed for Time &amp; Expense Entry to TRUE</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Planned_Hours_with_Purchased_Hours</name>
        <label>Copy 1 of Update Planned Hours with Purchased Hours</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>PM_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Planned_Hours__c</field>
            <value>
                <elementReference>$Record.pse__Opportunity__r.PSA_Hours_Purchased__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Include_in_Forecasting_and_Recognition_Method</name>
        <label>Set Include in Forecasting and Recognition Method</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>New_Planned_Hours</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Include_In_Forecasting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Recognition_Method__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Planned_Hours_with_Purchased_Hours</name>
        <label>Update Planned Hours with Purchased Hours</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>pse__Planned_Hours__c</field>
            <value>
                <elementReference>$Record.pse__Opportunity__r.PSA_Hours_Purchased__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Name</name>
        <label>Update Project Name</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>customer_billable_project_created</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PSA_Project_Name_DefaultFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Related_SOW_records</name>
        <label>Updated Related SOW records</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>New_Project_Created_with_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.pse__Opportunity__r.SOWs__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Stage_check</targetReference>
        </connector>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectSOWs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SOW__c</objectType>
    </variables>
</Flow>
