unpackaged/main/default/flows/PSA_Project_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Set_Points_Complete_when_Actual_Hours_is_updated</name>
        <label>Set Points Complete when Actual Hours is updated</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Set_Points_when_Estimated_Hours_is_updatedd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Points_Complete_from_Actual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetPointsCompletewhenActualHoursupdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Points_Complete</targetReference>
            </connector>
            <label>Set Points Complete from Actual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Points_when_Estimated_Hours_is_updatedd</name>
        <label>Set Points when Estimated Hours is updatedd</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Update_Status_when_Completed_is_checked_and_status_is_not_Blocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Points_from_Estimated_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetPointswhenEstimatedHoursisupdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Points_from_Estimated_Hourss</targetReference>
            </connector>
            <label>Set Points from Estimated Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_set_to_Blocked_and_Blocked_is_not_checked</name>
        <label>Status is set to &quot;Blocked&quot; and Blocked is not checked</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Status_is_set_to_Completed_and_Completed_is_not_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Blocked</name>
            <conditionLogic>(1 OR (2 OR 3) ) AND (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Blocked__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Blocked_True</targetReference>
            </connector>
            <label>Set Blocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_set_to_Completed_and_Completed_is_not_checked</name>
        <label>Status is set to &quot;Completed&quot; and Completed is not checked</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Status_is_set_to_Started_and_Started_is_not_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Completed</name>
            <conditionLogic>(1 OR (2 OR 3)) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Completed_True</targetReference>
            </connector>
            <label>Set Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_set_to_Started_and_Started_is_not_checked</name>
        <label>Status is set to &quot;Started&quot; and Started is not checked</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Set_Points_Complete_when_Actual_Hours_is_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Started</name>
            <conditionLogic>(1 OR (2 OR 3)) AND (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Started__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Started__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Started_True</targetReference>
            </connector>
            <label>Set Started</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status_to_Started_when_Started_is_checked_and_status_is_Draft_or_Planned</name>
        <label>Update Status to Started when Started is checked and status is &quot;Draft&quot; or &quot;Planned&quot;</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Status_when_Started_is_checked_and_status_is_Draft_or_Planned</name>
            <conditionLogic>(1 OR (2 OR 3)) AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Started__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Started__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Started</targetReference>
            </connector>
            <label>Update Status when Started is checked and status is &quot;Draft&quot; or &quot;Planned&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status_when_Completed_is_checked_and_status_is_not_Blocked</name>
        <label>Update Status when Completed is checked and status is not &quot;Blocked&quot;</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Update_Status_when_Completed_is_checked_and_status_is_not_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Status_to_Blocked</name>
            <conditionLogic>(1 OR (2 OR 3)) AND (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Blocked__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Blockedd</targetReference>
            </connector>
            <label>Set Status to Blocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status_when_Completed_is_checked_and_status_is_not_Complete</name>
        <label>Update Status when Completed is checked and status is not &quot;Complete&quot;</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Update_Status_to_Started_when_Started_is_checked_and_status_is_Draft_or_Planned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Status_when_Completed_is_checked_and_status_is_not_Completed</name>
            <conditionLogic>(1 OR (2 OR 3)) AND (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Completed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Complete</targetReference>
            </connector>
            <label>Update Status when Completed is checked and status is not Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SetPointsCompletewhenActualHoursupdated</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.pse__Summary__c=false},OR(AND(ISNEW(),OR({!$Record.pse__Actual_Hours__c&lt;&gt;0},NOT(ISBLANK({!$Record.pse__Actual_Hours__c})))),ISCHANGED({!$Record.pse__Actual_Hours__c})))</expression>
    </formulas>
    <formulas>
        <name>SetPointswhenEstimatedHoursisupdated</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.pse__Summary__c =False},OR(AND(ISNEW(),OR({!$Record.pse__Estimated_Hours__c}&lt;&gt;0,NOT(ISBLANK({!$Record.pse__Estimated_Hours__c})))),ISCHANGED({!$Record.pse__Estimated_Hours__c})))</expression>
    </formulas>
    <interviewLabel>PSA - Project Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA - Project Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Blocked_True</name>
        <label>Set Blocked True</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Status_is_set_to_Completed_and_Completed_is_not_checked</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Blocked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Completed_True</name>
        <label>Set Completed True</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Status_is_set_to_Started_and_Started_is_not_checked</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Points_Complete</name>
        <label>Set Points Complete</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Set_Points_when_Estimated_Hours_is_updatedd</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Points_Complete__c</field>
            <value>
                <elementReference>$Record.pse__Actual_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Points_from_Estimated_Hourss</name>
        <label>Set Points from Estimated Hourss</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Update_Status_when_Completed_is_checked_and_status_is_not_Blocked</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Points__c</field>
            <value>
                <elementReference>$Record.pse__Estimated_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Started_True</name>
        <label>Set Started True</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Set_Points_Complete_when_Actual_Hours_is_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Started__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_Blockedd</name>
        <label>Set Status to Blocked</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Update_Status_when_Completed_is_checked_and_status_is_not_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_Complete</name>
        <label>Set Status to Complete</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Update_Status_to_Started_when_Started_is_checked_and_status_is_Draft_or_Planned</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_Started</name>
        <label>Set Status to Started</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_is_set_to_Blocked_and_Blocked_is_not_checked</targetReference>
        </connector>
        <object>pse__Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
