unpackaged/main/default/flows/PSA_UpdateProjectMilestones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddMilestonesToCollection</name>
        <label>AddMilestonesToCollection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>MilestonesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Milestones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangingMilestonesValues</name>
        <label>ChangingMilestonesValues</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Milestones.pse__Closed_for_Expense_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Milestones.pse__Closed_for_Time_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddMilestonesToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This element checks if there are milestone records for get Element</description>
        <name>Milestone_Records_Exist</name>
        <label>Milestone Records Exist</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>Records_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMilestones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Milestones</targetReference>
            </connector>
            <label>Records exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectStage_check</name>
        <label>ProjectStage check</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProjectStageCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMilestones</targetReference>
            </connector>
            <label>ProjectStageCheck</label>
        </rules>
    </decisions>
    <description>* Update Closed for Time Entry and Expense Entry Fields on Milestone.
*  Added Ischanged  for project stagecheck decision element
* Removed Billable project created decision check and moved to PSA Project create and update flow.</description>
    <environments>Default</environments>
    <interviewLabel>PSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA : UpdateProjectMilestones</label>
    <loops>
        <name>Loop_Through_Milestones</name>
        <label>Loop Through Milestones</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>GetMilestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChangingMilestonesValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMilestones</name>
        <label>GetMilestones</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Milestone_Records_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestones</name>
        <label>Update Milestones</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>MilestonesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProjectStage_check</targetReference>
        </connector>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MilestonesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
</Flow>
