unpackaged/main/default/flows/PSA_Milestone_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>CustomerBillable</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <description>This decision checks for 
* ADO: 159834:: Actual Date on a Milestone is entered, and the Rev Rec Type = Automatic, and there are 1 or more other Milestones on the same Project with the same Product that are closed
* ADO:158599:: Actual date is added after the expiration date, set the Billed and Invoice fields to TRUE on Expired Milestones</description>
        <name>Check_for_Status_Rev_Rec_Type_Record_type</name>
        <label>Check for Status, Rev Rec Type, Record type?</label>
        <locationX>1700</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actual_date_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rev_Rec_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automatic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_Records</targetReference>
            </connector>
            <label>Actual date Entered Auto Rev Rec</label>
        </rules>
        <rules>
            <name>Set_Status_to_Expired</name>
            <conditionLogic>(1 AND (2 OR 6) AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Actual_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Expired_Approved_Inc_In_Fin_to_TRUE</targetReference>
            </connector>
            <label>Set Status to Expired</label>
        </rules>
        <rules>
            <name>Not_SOW_sku_Status_Work_Completed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6) AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Name__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>F5-CST-SOW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Name__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>F5-CST-SOW1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rev_Rec_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Automatic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Installs_Milestone_Fixed_Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Status_to_Work_Completed_Approved_Inc_In_Fin_toTRUE</targetReference>
            </connector>
            <label>Not SOW sku Status Work Completed</label>
        </rules>
        <rules>
            <name>Installed_Sku_Work_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installs_Milestone_Fixed_Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.pse__Actual_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Status_to_Work_Completed_Approved_Inc_In_Fin_to_TRUE</targetReference>
            </connector>
            <label>Installed Sku Work completed</label>
        </rules>
        <rules>
            <name>SOW_Work_completed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Name__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F5-CST-SOW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Name__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F5-CST-SOW1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_Included_in_Financials_to_TRUE_Status_Workcompleted</targetReference>
            </connector>
            <label>SOW Work completed</label>
        </rules>
        <rules>
            <name>SOW_Sku_Customer_Sign_off_Completed</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Name__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F5-CST-SOW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Name__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F5-CST-SOW1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Sign-off Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_Included_in_Financials_to_TRUE</targetReference>
            </connector>
            <label>SOW Sku Customer Sign-off Completed</label>
        </rules>
        <rules>
            <name>Fixed_Price_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing_Milestone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Actual_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Status_to_Work_Completed_Approved_Inc_In_Fin_toTRUE</targetReference>
            </connector>
            <label>Fixed Price Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Milestone_records_Exist</name>
        <label>Check Milestone records Exist?</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Status_to_Work_Completed_Approved_Inc_In_Fin_toTRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Milestone_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Work_Completed_Approved_Inc_In_Fin_to_TRUE</targetReference>
            </connector>
            <label>Exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>941</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_for_Status_Rev_Rec_Type_Record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Record_Type</name>
        <label>Project Record Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Other Record Types</defaultConnectorLabel>
        <rules>
            <name>Customer_Billable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer: Billable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recognition_Method</targetReference>
            </connector>
            <label>Customer: Billable</label>
        </rules>
    </decisions>
    <description>ADO 185695:: Updated the decision Not SOWSKU work completed to exclude installs milestone Record type</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>PSA - Milestone - Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA - Milestone - Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Milestone_Records</name>
        <label>Get Milestone Records</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Milestone_records_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Approved_Included_in_Financials_to_TRUE</name>
        <label>Set Approved &amp; Included in Financials to TRUE</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pse__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approved_Included_in_Financials_to_TRUE_Status_Workcompleted</name>
        <label>Set Approved &amp; Included in Financials to TRUE, Status=Workcompleted</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pse__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Work Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Billed_to_TRUE</name>
        <label>Set Billed to TRUE</label>
        <locationX>1700</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Set_invoiced_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Include_In_Financials__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Billed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_invoiced_to_TRUE</name>
        <label>Set invoiced to TRUE</label>
        <locationX>1700</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Include_In_Financials__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Billed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Recognition_Method</name>
        <label>Set Recognition Method</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pse__Recognition_Method__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_Expired_Approved_Inc_In_Fin_to_TRUE</name>
        <label>Set Status to Expired &amp; Approved &amp; Inc In Fin to TRUE</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_Billed_to_TRUE</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_Work_Completed_Approved_Inc_In_Fin_to_TRUE</name>
        <label>Set Status to Work Completed &amp; Approved &amp; Inc In Fin to TRUE</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Set_Billed_to_TRUE</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Work Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_Work_Completed_Approved_Inc_In_Fin_toTRUE</name>
        <label>Set Status to Work Completed &amp; Approved &amp; Inc In Fin to TRUE</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>pse__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Work Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <object>pse__Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MatchingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
</Flow>
