unpackaged/main/default/flows/PSA_Expense_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Revenue_Recognized</name>
        <label>Check Revenue Recognized</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>(1 AND 3) OR ( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revenue_Recognized__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revenue_Recognized__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Recognized</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Recognized_date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSA_Expense_Rev_Rec_Amt</name>
        <label>PSA Expense Rev Rec Amt</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Check_Revenue_Recognized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Exclude_from_Billing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Approved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Exclude_from_Billing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deferred_Expenses_to_be_Recognized</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSA_UnSet_Billable_field</name>
        <label>PSA UnSet Billable field</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UpdateExpenseInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unset_PSA_Billable_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateExpenseInvoice</name>
        <label>UpdateExpenseInvoice</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>PSA_Expense_Rev_Rec_Amt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>(1 AND 2) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_method</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>ADO: 224763: Added the field Recognition method in Unset PSA Billable field element to be default &quot;Deliverable&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PSA- Expense Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA- Expense Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Unset_PSA_Billable_field</name>
        <label>Unset PSA Billable field</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>UpdateExpenseInvoice</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Billable__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Recognition_Method__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deferred_Expenses_to_be_Recognized</name>
        <label>Update Deferred Expenses to be Recognized</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Check_Revenue_Recognized</targetReference>
        </connector>
        <inputAssignments>
            <field>Deferred_Expenses_to_be_Recognized__c</field>
            <value>
                <elementReference>$Record.pse__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_method</name>
        <label>Update Invoice method</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>PSA_Expense_Rev_Rec_Amt</targetReference>
        </connector>
        <inputAssignments>
            <field>Inv_Method__c</field>
            <value>
                <elementReference>$Record.Invoice_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recognized_date</name>
        <label>Update Recognized date</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <inputAssignments>
            <field>Recognized_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PSA_UnSet_Billable_field</targetReference>
        </connector>
        <object>pse__Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
